.card{
  background-color:#ecf0f4;
  // border:2px solid rgba(0, 0, 0, 0.721) ;
}


.example-card {
  max-width: 100%;
  margin-bottom: 30px;
}



.example-header-image {
  background-size: cover;
}

.postText{
  font-size: larger;
}

.liked {
  background-color: blue;
  color: white;
}
