.card{
  background-color: rgb(233, 237, 237);
}


.example-card {
  max-width: 100%;
  margin-bottom: 30px;
}



.example-header-image {
  background-size: cover;
}

.postText{
  font-size: larger;
}

.liked {
  background-color: blue;
  color: white;
}
