<nav
  #navbar
  class="navbar active text"
  style="background-color: rgb(255, 255, 255); color: black"
>
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <a
        href="#"
        onClick="return false;"
        style="color: black"
        class="navbar-toggle collapsed"
        (click)="isNavbarCollapsed = !isNavbarCollapsed"
        aria-expanded="false"
      ></a> -->
      <a class="navbar-brand">
        <div class="row">
          <div class="col-1 menuC">
            <button
              mat-icon-button
              style="margin-top: -2px"
              aria-label="Example icon-button with menu icon"
              (click)="callSidemenuCollapse()"
            >
              <mat-icon>menu</mat-icon>
            </button>
          </div>
          <div
            routerLink="/home"
            class="col logoNetworks d-flex align-items-center justify-content-center"
            style="margin-top: -15px; cursor: pointer"
          >
            <img src="assets/images/media.png" />
            <span class="logo-name text" style="color: black">Social hub</span>
          </div>
        </div>
      </a>
    </div>

    <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed">
      <ul class="float-start collapse-menu-icon menu">
        <li>
          <button
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with menu icon"
            (click)="callSidemenuCollapse()"
          >
            <mat-icon>menu</mat-icon>
          </button>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- Full Screen Button -->
        <li class="fullscreen">
          <button
            mat-icon-button
            (click)="callFullscreen()"
            class="nav-notification-icons"
          >
            <mat-icon
              ><span class="material-symbols-outlined">
                fullscreen
              </span></mat-icon
            >
          </button>
        </li>
        <!-- #END# Full Screen Button -->
        <li class="nav-item langSelItem" ngbDropdown>
          <a ngbDropdownToggle class="lang-dropdown">
            <img
              *ngIf="flagvalue !== undefined"
              src="{{ flagvalue }}"
              height="16"
            />
            <img
              *ngIf="flagvalue === undefined"
              src="{{ defaultFlag }}"
              height="16"
            />
          </a>
          <div
            ngbDropdownMenu
            class="dropdown-menu lang-item dropdown-menu-right pullDown"
          >
            <a
              href="javascript:void(0);"
              class="dropdown-item lang-item-list"
              *ngFor="let item of listLang"
              (click)="setLanguage(item.text, item.lang, item.flag)"
              [ngClass]="{ active: langStoreValue === item.lang }"
            >
              <img src="{{ item.flag }}" class="flag-img" height="12" />
              <span class="align-middle">{{ item.text }}</span>
            </a>
          </div>
        </li>
        <!-- #START# Notifications-->
        <li
          class="nav-item btnNotification"
          ngbDropdown
          *ngIf="isNavbarCollapsed"
        >
          <!-- <button
            mat-icon-button
            [matMenuTriggerFor]="menu1"
            class="nav-notification-icons"
          >
            <mat-icon matBadge="4" matBadgeColor="warn"
              ><span class="material-symbols-outlined">
                notifications
              </span></mat-icon
            >
          </button> -->
        </li>
        <!-- #END# Notifications-->
        <li
          class="nav-item user_profile btnUserDropdown"
          [matMenuTriggerFor]="menu"
          ngbDropdown
        >
          <div
            class="chip dropdown-toggle"
            ngbDropdownToggle
            class="nav-notification-icons pt-0"
          >
            <img
              [src]="data?.avatar || ''"
              class="user_img d-block imUser"
              alt="User"
            />
            <span>{{ data.name }}</span>
          </div>

          <mat-menu #menu="matMenu" class="text">
            <button mat-menu-item (click)="openEdirUser()">
              <mat-icon>manage_accounts</mat-icon>
              <span>Perfil</span>
            </button>
            <button mat-menu-item  routerLink="/home/bookface/myposts">
              <mat-icon>record_voice_over</mat-icon>
              <span>Mis Publicasiones Bookface</span>
            </button>
            <button mat-menu-item >
              <mat-icon>record_voice_over</mat-icon>
              <span>Mis Publicasiones Toktik</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>feedback</mat-icon>
              <span>Terminos y Condiciones</span>
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>logout</mat-icon>
              <span>Salir</span>
            </button>
            <br style="font-size: 1pt" />
            <div class="text-center">v 1.0.0</div>
          </mat-menu>
        </li>
        <!-- #END# Tasks -->
      </ul>
    </div>
  </div>
  <div class="circle text-center menuC">
    <div class="nav-item btnNotification" ngbDropdown>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        class="nav-notification-icons"
      >
      <img  [matMenuTriggerFor]="menu"
      [src]="data?.avatar || ''"
      class="user_img d-block imUser"
      alt="User"
    />
      </button>
    </div>
  </div>
</nav>
<mat-menu #menu1="matMenu">
  <div
    class="text-center"
    style="background-color: rgb(143, 136, 248); margin-top: -8px"
  >
    <h2>Notificaciones</h2>
  </div>
  <button mat-menu-item style="width: 400px; color: black">
    <div>
      <img
              [src]="data?.avatar || ''"
              class="user_img"
              alt="User"
            /> {{ data.name }}
    </div>
  </button>
  <button mat-menu-item style="width: 400px; color: black">
    <div>
      <img
              [src]="data?.avatar || ''"
              class="user_img"
              alt="User"
            /> {{ data.name }}
    </div>
  </button>
  <button mat-menu-item style="width: 400px; color: black">
    <div>
      <img
              [src]="data?.avatar || ''"
              class="user_img"
              alt="User"
            /> {{ data.name }}
    </div>
  </button>
</mat-menu>
