@media (max-width: 767px) {
    .menu{
      display: none;
    }
    .menuC{
        display: block;
      }
  }

  @media (min-width: 768px) {
    .menuC{
        display: none;
      }
  }
  .imUser {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 30px;
    height: 30px;
  
  }
  
  