<div class="card">
    <div class="header">
        <h2>Crear publicación</h2>
    </div>
    <div class="body">
        <form class="m-4" [formGroup]="postForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Descripción</mat-label>
                        <textarea matInput placeholder="¿Que estas pensando?" formControlName="description" maxlength="255"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="input-file-container">
                  <p class="mt-1"><span class="uppercase fw-500">Agregar imagen</span></p>
                  <input-file formControlName="multipartFile" fileLimit="1" fileAccept="image/*"></input-file>  
                </div>
              </div>
              
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <button class="btn-space" mat-raised-button color="primary">Aceptar</button>
                    <button type="button" mat-button (click)="close()">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>