<div class="tiktok-container">
  <div class="video-info">
    <div class="video-wrapper">
      <!-- Aquí colocas el video o el reproductor de video -->
    </div>
    <div class="user-info">
      <img src="ruta/a/tu/avatar.jpg" alt="Avatar del usuario" class="avatar">
      <div class="user-details">
        <p class="username">Nombre de usuario</p>
        <p class="description">Descripción del usuario</p>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="likes">
      <i class="fa fa-heart"></i>
      <span>1000</span>
    </div>
    <div class="comments">
      <i class="fa fa-comment"></i>
      <span>500</span>
    </div>
  </div>
</div>
