.example-header-image {
  background-size: cover;
}
.video{
  width: 40vh;
  height: 68vh;
  border-radius: 10pt;
}

.coment{
  margin-top: 18pt;
  width: 40vh;
  height: 68vh;
}

@media (max-width: 530px) {
  .actions{
   position: fixed;
   right: 45px;
   color: white;
  }

  .video{
    width: 90vw;
  height: 80vh
  }
}