.c1 {
  width: 270px;
  height: 93vh;
  background-color: white;
}

.c2 {
  width: 70px;
  height: 93vh;
  background-color: white;
}

.inicio-animacion {
  transition: width 0.5s ease;
}
.bcw{
  background-color: white;
}
.menuC{
  display: none;
}
@media (max-width: 767px) {
  .menu{
    display: none;
  }
}
@media (min-width: 768px) {
  .menuCe{
    display: none;
  }
}
