
<div class="conteiner" style="overflow-x: hidden;">
  <mat-toolbar>
    <app-header></app-header>
</mat-toolbar>
  <div class="row"  >
    <div class="col-1 menu" [ngClass]="openMenu ? 'c1' : 'c2'" [class.inicio-animacion]="iniciarAnimacion" 
    style="position: fixed">
      One
    </div>
    <div class="col-1 menuCe" [ngClass]="openMenu ? ' menuC' : 'c1'" [class.inicio-animacion]="iniciarAnimacion" 
    style="position: fixed">
      One
    </div>
    <div class="col "style="height: 99%; overflow: auto">
     
    </div>
  </div>
</div>
