.c1 {
  width: 270px;
  height: 93vh;
  background-color: white;
}

.c2 {
  width: 70px;
  height: 93vh;
  background-color: white;
}

.inicio-animacion {
  transition: width 0.5s ease;
}

.inicio-animacion {
  transition: width 0.5s ease;
}
.bcw {
  background-color: white;
}
.menuC {
  display: none;
}
@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
@media (min-width: 768px) {
  .menuCe {
    display: none;
  }
}
.imOrVideoP {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 60%;
  height: auto;

}
.wind {
  overflow: auto;
  margin-top: 20px;
}
.logoNetworks{
  width: 70px;
  height: auto;
 
}
.textLogo{
 font-size: 25px;
}

.contLogoNet:hover{
  background-color: rgba(169, 169, 169, 0.76);
  cursor: pointer;
}

.bt{
  position: absolute;
  bottom: 0;
  width: 100%;
}