.example-header-image {
    background-size: cover;
  }
  .video {
    width: 48vh;
    height: 85vh;
    border-radius: 10pt;
  }
  
  .coment {
    margin-top: 18pt;
    width: 40vh;
    height: 68vh;
  }
  
  @media (max-width: 530px) {
    .actions {
      position: absolute;
      right: 10px;
      color: white;
    }
    .vid {
      display: none;
    }
    .video {
      width: 90vw;
      height: 70vh;
    }
  
    .imUser2 {
      height: 100%;
      width: 100%;
      background-size: cover;
      display: block;
    }
  
    
  
    .datU {
      margin-top: 20px;
      margin-left: 30px;
      color: white;
      position: absolute;
      z-index: 9999;
    }
  }
  
  .liked {
    background-color: rgb(255, 0, 200);
    color: white;
  }
  
  /* Estilos para los botones de carga de video */
  .custom-button.next {
    position: fixed;
    right: 16px;
    bottom: 16px;
  }
  
  .custom-button.previous {
    position: fixed;
    right: 16px;
    top: 16px;
  }
  
  .custom-button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
  }
  .imUser {
    justify-content: center;
    text-align: center;
    width: 60px;
    height: 60px;
  }
  .imUser{
    display: none;
  }
  .derecha{ 
    float: right;
  }
  