/* You can add global styles to this file, and also import other style files */
.text{
    font-family: Microsoft PhagsPa;
}
.full-screen-dialog .mat-dialog-container {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 60%;
    width: 450px;
  }
  @media (max-width: 600px) {
    .full-screen-dialog .mat-dialog-container {
      height: 100%;
      width: 100vw;

    }
  }