.Opciones{
    font-size: 18px;
    color: rgba(41, 41, 246, 0.751);
    margin-right: 20px;
}

.navbarHeader{
    min-height: calc(0vh - 76px) !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.inB{
    width: 400px
}