.navar{
    background-color: white;
    height: 65px;
    border:2px solid rgba(255, 255, 255, 0.721) ;
}
.Opciones{
    font-size: 18px;
    color: rgba(41, 41, 246, 0.751);
    margin-right: 20px;
}