<!DOCTYPE html>
<html>
  <head> </head>
  <body style="background-color: white">
    <div class="contenedor">
      <button
        class="elemento"
        mat-mini-fab
        color="secondary"
        (click)="closeDialog()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <h3 class="text-center text">Código de acceso</h3>
    <form [formGroup]="codeAuthForm">
      <div class="input-group">
        <input type="text" formControlName="code1" maxlength="1"  />
        <input type="text" formControlName="code2" maxlength="1" />
        <input type="text" formControlName="code3" maxlength="1" />
        <input type="text" formControlName="code4" maxlength="1" />
        <input type="text" formControlName="code5" maxlength="1" />
      </div>
    </form>
    <h6 class="text-Justified">
      Ingresa el codigo enviado a tu correo electronico para acceder a tus redes
      sociales
    </h6>
  </body>
</html>
